{% extends 'base.html' %}

{% block content %}

 <div class="ibox ">
            <div class="ibox-title">
                <h5>系统用户管理</h5>
            </div>
<div class="ibox-content m-b-sm border-bottom">



    <div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default">
        <div class="panel-heading">查询条件</div>
        <div class="panel-body">
            <form id="formSearch" class="form-horizontal">
                <div>
                    <label class="control-label col-sm-1"  style="text-align:left">用户名</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                </div>

                <div>
                    <div class="col-sm-1" style="text-align:left;">
                        <button type="button"  id="btn_query" class="btn btn-primary" onclick="ReloadTable()">查询</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <table id="table" class="table table-hover" ></table>

                </div>
            </div>
        </div>
    </div>


</div>

 </div>



<div class="modal inmodal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop=”static” aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="title">更新用户信息</h4></div>
            <div class="modal-body">
                <form  role="form" id="myForm">
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">用户名:<span class="red">&nbsp;*</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="id"   class="form-control" style="display:none">
                            <input type="text" name="username"  readonly  class="form-control">
                        </div>
                    </div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">邮箱:<span class="red">&nbsp;*</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="email" id="email"  class="form-control" >
                        </div>
                    </div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">手机号:<span class="red">&nbsp;*</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="phone" id="phone"  class="form-control" >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">状态:<span class="red">&nbsp;*</span></label>
                        <div class="col-sm-10">
                            <select name="status" id="status"  class="chosen-select" tabindex="2">
                                <option value="1">启用</option>
                                <option value="0" >禁用</option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                        <button  class="btn btn-primary" type="submit">保存</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}

<script>

$('.chosen-select').chosen({width: "100%"});

jQuery.validator.addMethod("isMobile", function(value, element) {
 var length = value.length;
 var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
 return this.optional(element) || (length == 11 && mobile.test(value));
}, "请正确填写手机号码");



$(function () {
	//初始化业务逻辑script
   InitTable();
})

function InitTable(){
    $('#table').bootstrapTable({
        url: '/rbac/user/data',              //请求后台的URL（*）
        method: 'GET',                      //请求方式（*）
        toolbar: '#toolbar',              //工具按钮用哪个容器
        striped: true,                      //是否显示行间隔色
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: true,                   //是否显示分页（*）
        sortable: true,                     //是否启用排序
        sortOrder: "asc",                   //排序方式
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
        pageSize: 20,                       //每页的记录行数（*）
        pageList: [20, 50, 100],        //可供选择的每页的行数（*）
        search: false,                      //是否显示表格搜索
        strictSearch: true,
        showColumns: true,                  //是否显示所有的列（选择显示的列）
        showRefresh: true,                  //是否显示刷新按钮
        minimumCountColumns: 2,             //最少允许的列数
        clickToSelect: true,                //是否启用点击选中行
        //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
        uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
        showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
        cardView: false,                    //是否显示详细视图
        detailView: false,                  //是否显示父子表
        //得到查询的参数
        queryParams : function (params) {
            //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
            var temp = {
                limit: params.limit,                         //页面大小
                page: (params.offset / params.limit) + 1,   //页码
                sort: params.sort,      //排序列名
                sortOrder: params.order, //排位命令（desc，asc）
                username: $("#username").val(),
            };
            return temp;
        },
        columns: [{
            field: 'username',
            title: '用户名',
            sortable: false
        }, {
            field: 'cname',
            title: '中文名',
            sortable: false
        },
        {
            field: 'email',
            title: '邮箱',
        }, {
            field: 'phone',
            title: '手机号',
        },{
            field: 'is_active',
            title: '状态'
        },{
            field: 'id',
            title: '操作',
            formatter: actionFormatter,
            align: 'center',
        },

        ],
        onLoadSuccess: function () {
            if ({{request.user.role}} == 0 ){
                $("#table").bootstrapTable('hideColumn', 'id');
            }
        },
        onLoadError: function () {
        },

    });
}


function actionFormatter(value, row, index){
    var result = "";
    result += "<a href='javascript:;' class='btn btn-xs btn-info' onclick=\"EditViewById('" + row.id + "')\" title='编辑'>编辑</a>";
    result += "<a href='javascript:;' class='btn btn-xs btn-danger m-l-xs btn_user_delete' onclick=\"DeleteByIds('" + row.id + "')\" title='删除'>删除</a>";
    return result;
}

function ReloadTable(){
    $('#table').bootstrapTable("refresh");
}

$(document).ready(function(){
    $("#myForm").validate({

        rules: {
            phone: {
                required: true,
                number: true,
                isMobile: true,
                minlength : 11
            },
            email:{
                required: true,
                email: true
            }
        },
        messages: {
		    phone : {
		        required : "请输入手机号",
		        minlength : "不能小于11个字符",
		        isMobile : "请正确填写手机号码"
		    },
		    email:{
		        required : "请输入邮箱地址",
		        email: '邮箱地址不合法'
		    }
  		},
        submitHandler: function(form) {
            $.ajax({
                type: "POST",
                url:  '/rbac/user/update',
                data: $("#myForm").serialize(),
                dataType: "json",
                success: function(data){
                    handle_quietly(data, function(){location.reload() })
                },
                error: function() {
                    err_message_quietly('服务器内部错误');
                }
            });
        }
    });
});

function EditViewById(id){
    $.ajax({
        type: "POST",
        url: '/rbac/user/get_user_obj',
        data: {'id':id},
        dataType: "json",
        success: function(data){
            if (data['code'] == 0){
                console.log(data['data'])

                var username = data['data']['username']
                var phone = data['data']['phone']
                var email = data['data']['email']
                var status = data['data']['status']
                var form_obj = document.getElementById('myForm');
                form_obj.id.value = id
                form_obj.username.value = username
                form_obj.phone.value = phone
                form_obj.email.value = email
                form_obj.status.value = status
                $("#status").trigger("chosen:updated");
                $("#title").html("更新用户【"+ username + "】")
                form_obj.setAttribute('option', 'update')
                $("#myModal").modal("show")
            }
            else{
                err_message_quietly(data['message'])
            }
        },
        error: function() {
           err_message_quietly('服务器内部错误');
        }
    });
}


function DeleteByIds(id){
    my_confirm('确认要删除这条记录吗？', ['确定', '取消'], function () {
        $.ajax({
            type: "POST",
            url: '/rbac/user/delete',
            data: {'id':id},
            dataType: "json",
            success: function(data){
                handle_quietly(data, function(){location.reload() })
            },
            error: function() {
                err_message_quietly('服务器内部错误');
            }
        });
    }, function () {
        return false;
    });
}

</script>
{% endblock %}