{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                组件性能监控【主机：{{service_obj.fhost}} - 服务名：{{service_obj.fname}} - 端口号：{{service_obj.fport}}】
                <div class="btn-group pull-right chart-config">
                时间范围：<select id="range" onchange="change_range($(this).val())">
                    {% for k,v in RANGE %}
                    <option value="{{v}}">{{k}}</option>
                    {% endfor %}
                </select>
                </div>
            </div>

            <div class="panel-body">
                <div id="main"></div>

            </div>

        </div>


    </div>
</div>

{% endblock %}

{% block script %}
<script>

window.onload=function(){
  query_graph()
}


function query_graph(){
    $.ajax({
        type: "POST",
        url: '/service/status/query_graph',
        data: {'fid':'{{fid}}', 'range':$("#range").val()},
        dataType: "json",
        success: function(data){
            if (data['code'] == 0){
                $("#main").html(data['data']['html_content'])
                for (i in data['data']['all_data']){

                    var series = data['data']['all_data'][i]['hdata']
                    console.log(series)
                    var title = {
                        text: ''
                    };
                    var subtitle = {
                        text: ''
                    };
                    var xAxis = {
                        gridLineWidth: 2,
                        type: 'datetime',

                        dateTimeLabelFormats: {
                            millisecond: '%H:%M:%S.%L',
                            second: '%H:%M:%S',
                            minute: '%H:%M',
                            hour: '%H:%M',
                            day: '%m-%d',
                            week: '%m-%d',
                            month: '%Y-%m',
                            year: '%Y'
                        }
                    };
                    var yAxis = {
                        gridLineWidth: 2,
                        min: 0,
                        title: {
                            text: ''
                        },

                    };

                    var tooltip = {
                        formatter:function(){
                            return'<strong>'+this.series.name+'</strong><br>'+ Highcharts.dateFormat('%Y-%m-%d %H:%M:%S',this.x)+': '+ '<strong>' + this.y + '</strong>';
                        }
                    }

                    var legend = {

                    };

                    var plotOptions =  {
                        spline: {
                            lineWidth: 2,
                            states: {
                                hover: {
                                    lineWidth: 2
                                }
                            },
                            marker: {
                                enabled: false
                            },
                        }
                    };

                    var credits = {
                        enabled:false // 禁用版权信息
                    }

                    var json = {};
                    json.chart = {'type':'spline'}
                    json.title = title;
                    json.subtitle = subtitle;
                    json.xAxis = xAxis;
                    json.yAxis = yAxis;
                    json.tooltip = tooltip;
                    json.legend = legend;
                    json.series = series;
                    json.credits = credits;
                    json.plotOptions = plotOptions

                    Highcharts.setOptions({
                        global: {
                            useUTC: false,
                        }
                    });
                    console.log('cluster_'+ (Number(i)+1).toString())
                    Highcharts.chart('cluster_'+ (Number(i)+1).toString() ,json)

                }
            }
            else{
                err_message_quietly(data['message'])
            }
        },
        error: function() {
           err_message_quietly('服务器内部错误');
        }
    });


}


</script>
{% endblock %}