{% extends 'base.html' %}

{% block content %}


<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                端口监控【主机：{{service_obj.fhost}} - 服务名：{{service_obj.fname}} - 端口号：{{service_obj.fport}}】
                <div class="btn-group pull-right chart-config">
                时间范围：<select id="range" onchange="change_range($(this).val())" style="weight:80px;height:30px">
                    {% for k,v in RANGE %}
                    <option value="{{v}}">{{k}}</option>
                    {% endfor %}
                </select>
                </div>
            </div>

            <div class="panel-body">
                <div class="flot-chart">

                    <div class="flot-chart-content" id="main"></div>
                </div>

            </div>

        </div>


    </div>
</div>


{% endblock %}

{% block script %}
<script>

function change_range(range){

    query_graph(range)
}

window.onload=function(){
  query_graph($("#range").val())
}


function query_graph(range){
    $.ajax({
        type: "POST",
        url: '/service/status/query_graph2',
        data: {'fid':'{{fid}}', 'counter':'{{counter}}', range:range},
        dataType: "json",
        success: function(data){
            if (data['code'] == 0){
                var series = data['data']['hdata']
                var title = {
                    text: ''
                };
                var subtitle = {
                    text: ''
                };
                var xAxis = {
                    gridLineWidth: 2,
                    type: 'datetime',

                    dateTimeLabelFormats: {
                        millisecond: '%H:%M:%S.%L',
                        second: '%H:%M:%S',
                        minute: '%H:%M',
                        hour: '%H:%M',
                        day: '%m-%d',
                        week: '%m-%d',
                        month: '%Y-%m',
                        year: '%Y'
                    }
                };
                var yAxis = {
                    gridLineWidth: 2,
                    max: 1,
                    min: 0,
                    minRange: 1,
                    title: {
                        text: ''
                    },

                };

                var tooltip = {
                    formatter:function(){
                        return'<strong>'+this.series.name+'</strong><br>'+ Highcharts.dateFormat('%Y-%m-%d %H:%M:%S',this.x)+': '+ '<strong>' + this.y + '</strong>';
                    }
                }

                var legend = {

                };

                var plotOptions =  {
                    spline: {
                        lineWidth: 2,
                        states: {
                            hover: {
                                lineWidth: 2
                            }
                        },
                        marker: {
                            enabled: false
                        },
                    }
                };


                var credits = {
                    enabled:false // 禁用版权信息
                }

                var json = {};
                json.chart = {'type':'spline'}
                json.title = title;
                json.subtitle = subtitle;
                json.xAxis = xAxis;
                json.yAxis = yAxis;
                json.tooltip = tooltip;
                json.legend = legend;
                json.series = series;
                json.credits = credits;
                json.plotOptions = plotOptions

                Highcharts.setOptions({
                    global: {
                        useUTC: false,
                    }
                });
                Highcharts.chart('main',json)
            }
        },
        error: function() {
           err_message_quietly('服务器内部错误');
        }
    });
}
</script>
{% endblock %}