{% extends 'base.html' %}

{% block content %}
{% load in_list %}

<div class="row">
    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>服务信息修改</h5></div>
            <div class="ibox-content m-b-sm border-bottom">
                <form role="form" id="editForm">
                    <input type="text" style="display:none" name="fid" class="form-control" value="{{service_obj.fid}}">
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">所属集群:
                            <span class="red">&nbsp;*</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="fcluster" class="form-control" value="{{service_obj.fcluster}}">
                        </div>
                    </div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">机器IP:
                            <span class="red">&nbsp;*</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="fhost" class="form-control" value="{{service_obj.fhost}}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">服务名:
                            <span class="red">&nbsp;*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="fname" value="{{service_obj.fname}}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">服务端口:
                            <span class="red">&nbsp;*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="fport" value="{{service_obj.fport}}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">服务描述:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="fdesc" value="{{service_obj.fdesc}}"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary" type="submit">保存</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}





{% block script %}

<script>


jQuery.validator.addMethod("isIP", function(value, element) {
    var reg = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
    return reg.test(value)
}, "IP地址不合法");


jQuery.validator.addMethod("positiveinteger", function(value, element) {
    var aint=parseInt(value);
    return aint>0&& (aint+"")==value;
}, "请输入正整数");



jQuery.validator.addMethod("needsSelection", function(value, element) {
        return value
}, "请选择所属集群");



$(document).ready(function(){
    $("#editForm").validate({
        ignore: ':hidden:not("#fcluster")',
        rules: {
            fcluster:{
                required: true,
            },
            fhost:{
                required: true,
                isIP: true
            },

            fname: {
                required: true
            },
            fport:{
                required: true,
                positiveinteger: true
            }
        },
        messages: {
            fcluster: {
                required: '所属集群不能为空'
            },
            fhost: {
                required: '机器IP不能为空'
            },
            fname : {
                required : "服务名不能为空"
            },
            fport:{
                required : "服务端口不能为空",

            }
        },
        submitHandler: function(form) {
            console.log($("#editForm").serialize())
            $.ajax({
                type: "POST",
                url: '/service/update',
                data: $("#editForm").serialize(),
                dataType: "json",
                success: function(data){
                    handle_quietly(data, function(){location.reload() })
                },
                error: function() {
                   err_message_quietly('服务器内部错误');
                }
            });
        }
    });


    $("#editForm").validate({
        rules: {
            fhost:{
                required: true,
                isIP: true
            },

            fname: {
                required: true
            },
            fport:{
                required: true,
                positiveinteger: true
            }
        },
        messages: {
            fhost: {
                required: '机器IP不能为空'
            },
            fname : {
                required : "服务名不能为空"
            },
            fport:{
                required : "服务端口不能为空",

            }
        },
        submitHandler: function(form) {
            $.ajax({
                type: "POST",
                url: '/service/update',
                data: $("#editForm").serialize(),
                dataType: "json",
                success: function(data){
                    handle_quietly(data, function(){location.reload() })
                },
                error: function() {
                    err_message_quietly('服务器内部错误');
                }
            });
        }
    });

});

function EditViewById(content){
    var arry = content.split(',')
    $("#each_fid").val(arry[0])
    $("#each_fhost").val(arry[1])
    $("#each_fname").val(arry[2])
    $("#each_fport").val(arry[3])
    $("#each_fdesc").val(arry[4])
    $("#editModal").modal("show")
}


function DeleteByIds(id){
    if (confirm('确认要删除这条记录吗？')){
        $.ajax({
            type: "POST",
            url: '/service/delete',
            data: {'id':id},
            dataType: "json",
            success: function(data){
                handle_quietly(data, function(){location.reload() })
            },
            error: function() {
                err_message_quietly('服务器内部错误');
            }
        });

    }

}

</script>
{% endblock %}