{% extends 'base.html' %}

{% block content %}
{% load key %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding-left: 8px;">
                策略模板
            </div>
            <div class="panel-body" style="padding-left: 8px;">
                机器组: <span class="green">【{{hostname}}】</span> binding <span class="glyphicon glyphicon-pushpin"></span>
            </div>
            <table class="table table-hover table-bordered table-striped" style="margin-bottom: 0px; margin-top: 0px;">
                <thead>
                <tr>
                    <th>机器组</th>
                    <th>创建人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>

                            <td> <a href="/alarm/template/view?id={{i|key:'id'}}">{{i|key:'grp_name'}}</a> </td>
                            <td> {{i|key:'create_user'}} </td>
                            <td>
                                <button class="btn btn-default btn-xs"
                                    onclick="host_unbind_group({{host_id}}, {{i|key:'id'}});">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    解绑
                                </button>
                            </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <button class="btn btn-default" onclick="history.go(-1);">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Back
        </button>

    </div>
</div>



{% endblock %}

{% block script %}
<script>
$('.chosen-select').chosen({width: "400px"});

function tpl_unbind_group(template_id, hostgroup_id){
    my_confirm('确定要解绑该模板吗？', ['确定', '取消'], function () {
        $.ajax({
            type: "POST",
            url: '/alarm/hostgroup/unbind_template',
            data: {'template_id':template_id, 'hostgroup_id':hostgroup_id},
            dataType: "json",
            success: function(data){
               handle_quietly(data, function(){location.reload() })
            },
            error: function() {
               err_message_quietly('服务器内部错误');
            }
        });
    }, function () {
        return false;
    });

}

function bind_template(hostgroup_id){
    template_id = $("#tpl_id").val()
    if (template_id == 0){
        return false
    }
    $.ajax({
        type: "POST",
        url: '/alarm/hostgroup/bind_template',
        data: {'template_id':template_id, 'hostgroup_id':hostgroup_id},
        dataType: "json",
        success: function(data){
            handle_quietly(data, function(){location.reload() })
        },
        error: function() {
            err_message_quietly('服务器内部错误');
        }
    });
}

function host_unbind_group(host_id, hostgroup_id){
    my_confirm('确定要解绑吗？', ['确定', '取消'], function () {
        $.ajax({
            type: "POST",
            url: '/alarm/hostgroup/host_unbind_hostgroup',
            data: {'host_id':host_id, 'hostgroup_id':hostgroup_id},
            dataType: "json",
            success: function(data){
               handle_quietly(data, function(){location.reload() })
            },
            error: function() {
               err_message_quietly('服务器内部错误');
            }
        });
    }, function () {
        return false;
    });
}


</script>
{% endblock %}