{%  extends 'base.html' %}


{% block content %}
{% load key %}
{% load utc2local %}
        <div class="row">
                        <div class="col-sm-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-success pull-right">Clusters</span>
                                    <h5>集群总数</h5></div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">
                                        <a href="#">{{cluster_count}}</a></h1>
                                    <small>All Cluters</small></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-info pull-right">Hosts</span>
                                    <h5>主机总数</h5></div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">
                                        <a href="#">{{host_count}}</a></h1>
                                    <small>All hosts</small></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-primary pull-right">Services</span>
                                    <h5>服务总数</h5></div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">
                                        <a href="#">
                                            <span id="online_users"></span>{{service_count}}</a>
                                    </h1>
                                    <small>Services</small></div>
                            </div>
                        </div>

                    </div>



        <div class="row">
            <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>集群健康状态</h5>
                        </div>
                        <div class="ibox-content">
                            <div id="cluster_status" class="ct-perfect-fourth"></div>
                            <table class="footable table table-stripped toggle-arrow-tiny">
                                <thead>
                                <tr>
                                    <th data-toggle="true">集群名</th>
                                    <th>状态</th>
                                    <th>运行服务数</th>
                                    <th>服务总数</th>
                                    <th >操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in status_info %}
                                    <tr>
                                        <td>{{i|key:'fcluster'}}</td>
                                        {% if i|key:'success_num' == 0 %}
                                            <td><i class="fa fa-times text-danger"></i> 已停止</td>
                                        {% else %}
                                            <td><i class="fa fa-check text-navy"></i> 运行中</td>
                                        {% endif %}
                                        <td><a href="/service/status?fcluster={{i|key:'fcluster'}}&fstatus=1">{{i|key:'success_num'}}</a></td>
                                        <td><a href="/service/status?fcluster={{i|key:'fcluster'}}&fstatus=0">{{i|key:'total_num'}}</a></td>
                                        <td><a href="/service/status?fcluster={{i|key:'fcluster'}}">详情</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination float-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>


        </div>




        <div class="row">
            <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>最近10条告警事件</h5>
                        </div>
                        <div class="ibox-content">
                            <div id="cluster_status" class="ct-perfect-fourth"></div>
                             <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>状态</th>
                                    <th>主机</th>
                                    <th>监控项</th>
                                    <th>事件信息</th>
                                    <th>更新时间</th>
                                    <th>详情</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in eventcase_list %}
                                    <tr>
                                        <td>{{i|key:'status'}}</td>
                                        <td>{{i|key:'endpoint'}}</td>
                                        <td>{{i|key:'metric'}}</td>
                                        {% if i|key:'status' == 'PROBLEM' %}
                                            <td style="background-color:#E97659;color:#52190b">{{i|key:'note'}}</td>
                                        {% else %}
                                            <td style="background-color:#73BF00;color:#52190b">{{i|key:'note'}}</td>
                                        {% endif %}
                                        <td>{{i|key:'timestamp'|utc2local}}</td>
                                        <td><a href="/alarm/eventcase/detail?id={{i|key:'id'}}">详情</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>


        </div>



{% endblock %}


{% block  script %}

<script>
    /*
    var chart = Highcharts.chart('cluster_status', {
    chart: {
        inverted: false,
        polar: false,
        type: 'column'
    },
    credits: {
        enabled:false // 禁用版权信息
    },
	title: {
		text: '各集群的服务状态'
	},
	subtitle: {
		text: null
	},
	xAxis: {
		categories: {{cluster_list|safe}}
	},
	yAxis: {
	    max:100,
	    title: {
			text: null
		}
	},
	tooltip: {
		pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b>' +
		'({point.percentage:.0f}%)<br/>',
		//:.0f 表示保留 0 位小数，详见教程：https://www.hcharts.cn/docs/basic-labels-string-formatting
		shared: true
	},
	plotOptions :{
        column: {
            minPointLength: 3,
            cursor:'pointer',
            animation:false,
            pointWidth:25,
            stacking: 'percent',
            events: {
                click: function(e) {
                //console.log(e.point.category)
                    location.href = '/service/status?fcluster='+e.point.category;
                    //上面是当前页跳转，如果是要跳出新页面，那就用
                    //window.open(e.point.url);
                    //这里的url要后面的data里给出
                }
            }
        }
	},
	series: {{series|safe}}
});
*/

$(document).ready(function() {

            $('.footable').footable();

        });




</script>
{% endblock %}
