{%  extends 'base.html' %}


{% block content %}
{% load key %}
        <div class="row">
                        <div class="col-sm-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-success pull-right">Clusters</span>
                                    <h5>集群总数</h5></div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">
                                        <a href="#">{{cluster_count}}</a></h1>
                                    <small>All Cluters</small></div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-info pull-right">Hosts</span>
                                    <h5>主机总数</h5></div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">
                                        <a href="#">{{host_count}}</a></h1>
                                    <small>All hosts</small></div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-primary pull-right">Services</span>
                                    <h5>服务总数</h5></div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">
                                        <a href="#">
                                            <span id="online_users"></span>{{service_count}}</a>
                                    </h1>
                                    <small>Services</small></div>
                            </div>
                        </div>

                    </div>



        <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-content">
                                    <div>

                                        <h1 class="m-b-xs">集群状态展示</h1>

                                    </div>

                                <div class="row text-center">
                                    {% for i in status_info %}

                                    <div class="col-lg-3">
                                        <canvas id="chart_{{forloop.counter0}}" width="120" height="80" style="margin: 18px auto 0"></canvas>
                                        <h5 ><a href="#">{{i|key:'fcluster'}}</a></h5>
                                    </div>
                                {% endfor %}
                                </div>



                            </div>
                        </div>
                    </div>
                </div>









{% endblock %}


{% block  script %}

<script>


    var status_info = {{status_json|safe}}

    var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };
    for (i=0; i<status_info.length;i++){
        var doughnutData = {
                labels: ["正常服务","未知服务","异常服务" ],
                datasets: [{
                    data: status_info[i]['data'],
                    backgroundColor: ["#32CD32","#FF7F50","#FF0000"]
                }]
        } ;

        var ctx = document.getElementById("chart_"+i).getContext("2d");
        new Chart(ctx, {type: 'doughnut', data: doughnutData, options:doughnutOptions});
    }
</script>
{% endblock %}
