{%  extends 'base.html' %}


{% block content %}
{% load key %}
{% load utc2local %}
<div class="row">
    <div class="col-sm-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">Clusters</span>
                <h5>集群总数</h5></div>
            <div class="ibox-content">
                <h1 class="no-margins">
                    <a href="#">{{cluster_count}}</a></h1>
                <small>All Cluters</small></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Hosts</span>
                <h5>主机总数</h5></div>
            <div class="ibox-content">
                <h1 class="no-margins">
                    <a href="#">{{host_count}}</a></h1>
                <small>All hosts</small></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">Services</span>
                <h5>服务总数</h5></div>
            <div class="ibox-content">
                <h1 class="no-margins">
                    <a href="#">
                        <span id="online_users"></span>{{service_count}}</a>
                </h1>
                <small>Services</small></div>
        </div>
    </div>

</div>



<div class="row">
    <div class="col-lg-12">


        <div class="panel panel-success">
            <div class="panel-heading">
                集群信息

            </div>

            <div class="panel-body">
                <div id="cluster_status" class="ct-perfect-fourth"></div>
                <table class="footable table table-stripped toggle-arrow-tiny">
                    <thead>
                    <tr>
                        <th data-toggle="true">集群名</th>
                        <th>状态</th>
                        <th>运行服务数</th>
                        <th>服务总数</th>
                        <th >操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in status_info %}
                        <tr>
                            <td>{{i|key:'fcluster'}}</td>
                            {% if i|key:'success_num' == 0 %}
                                <td><i class="fa fa-times text-danger"></i> 已停止</td>
                            {% else %}
                                <td><i class="fa fa-check text-navy"></i> 运行中</td>
                            {% endif %}
                            <td><a href="/service/status?fcluster={{i|key:'fcluster'}}&fstatus=1">{{i|key:'success_num'}}</a></td>
                            <td><a href="/service/status?fcluster={{i|key:'fcluster'}}&fstatus=0">{{i|key:'total_num'}}</a></td>
                            <td><a href="/service/status?fcluster={{i|key:'fcluster'}}">详情</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination float-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>

        </div>

    </div>


</div>


<div class="row">
    <div class="col-lg-6">


        <div class="panel panel-default">
            <div class="panel-heading">
                集群健康状态
                <div class="btn-group pull-right chart-config">
                时间范围：<select id="range1" onchange="change_range1($(this).val())">
                    {% for k,v in RANGE1 %}
                    <option value="{{v}}">{{k}}</option>
                    {% endfor %}
                </select>
                </div>
            </div>

            <div class="panel-body">
                <div class="flot-chart">

                    <div class="flot-chart-content" id="cluster"></div>
                </div>

            </div>

        </div>

    </div>


    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                服务故障率TopN
                <div class="btn-group pull-right chart-config">
                TOP：<select id="topn" onchange="change_top($(this).val())">
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
                     时间范围：<select id="range2" onchange="change_range2($(this).val())">
                    {% for k,v in RANGE %}
                    <option value="{{v}}">{{k}}</option>
                    {% endfor %}
                </select>
                </div>
            </div>

            <div class="panel-body">
                <div class="flot-chart">

                    <div class="flot-chart-content" id="service"></div>
                </div>

            </div>

        </div>
    </div>

</div>


<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-success">
            <div class="panel-heading">
                最近10条告警事件

            </div>

            <div class="panel-body">
                <div id="cluster_status" class="ct-perfect-fourth"></div>
                 <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>状态</th>
                        <th>主机</th>
                        <th>监控项</th>
                        <th>事件信息</th>
                        <th>更新时间</th>
                        <th>详情</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in eventcase_list %}
                        <tr>
                            <td>{{i|key:'status'}}</td>
                            <td>{{i|key:'endpoint'}}</td>
                            <td>{{i|key:'metric'}}</td>
                            {% if i|key:'status' == 'PROBLEM' %}
                                <td style="background-color:#E97659;color:#52190b">{{i|key:'note'}}</td>
                            {% else %}
                                <td style="background-color:#73BF00;color:#52190b">{{i|key:'note'}}</td>
                            {% endif %}
                            <td>{{i|key:'timestamp'|utc2local}}</td>
                            <td><a href="/alarm/eventcase/detail?id={{i|key:'id'}}">详情</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>

    </div>


</div>

{% endblock %}


{% block  script %}

<script>
    /*
    var chart = Highcharts.chart('cluster_status', {
    chart: {
        inverted: false,
        polar: false,
        type: 'spline'
    },
    credits: {
        enabled:false // 禁用版权信息
    },
	title: {
		text: '各集群的服务状态'
	},
	subtitle: {
		text: null
	},
	xAxis: {
		type: 'datetime',
		labels: {
			overflow: 'justify'
		}
	},
	yAxis: {
	    max:100,
	    title: {
			text: null
		}
	},
	tooltip: {
		pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b>' +
		'({point.percentage:.0f}%)<br/>',
		//:.0f 表示保留 0 位小数，详见教程：https://www.hcharts.cn/docs/basic-labels-string-formatting
		shared: true
	},
	plotOptions :{
        spline: {
            lineWidth: 4,
            states: {
				hover: {
					lineWidth: 5
				}
			},
        }
	},
	series: {{series|safe}}
});
*/

$(document).ready(function() {

    $('.footable').footable();

});



function change_range1(range){
    query_cluster_status(range)
}


function query_cluster_status(range){
    $.ajax({
        type: "POST",
        url: '/api/query_cluster_status',
        data: {'range': range},
        dataType: "json",
        success: function(data){
            var title = {
                 text: ''
            };
            var subtitle = {
                text: ''
            };
            var xAxis = {
                gridLineWidth: 2,
                type: 'datetime',

                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                }
            };
            var yAxis = {
                gridLineWidth: 2,
                max: 100,
                min: 0,
                minRange: 1,
                title: {
                    text: '%'
                },

            };

            var tooltip = {
                formatter:function(){
                    return'<strong>'+this.series.name+'</strong><br>'+ Highcharts.dateFormat('%Y-%m-%d %H:%M:%S',this.x)+': '+ '<strong>' + this.y + '%</strong>';
                }
            }

            var legend = {

            };

            var plotOptions =  {
                spline: {
                    lineWidth: 2,
                    states: {
                        hover: {
                            lineWidth: 2
                        }
                    },
                    marker: {
                        enabled: false
                    },
                }
            };
            var series = data['data']

            var credits = {
                enabled:false // 禁用版权信息
            }

            var json = {};
            json.chart = {'type':'spline'}
            json.title = title;
            json.subtitle = subtitle;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.tooltip = tooltip;
            json.legend = legend;
            json.series = series;
            json.credits = credits;
            json.plotOptions = plotOptions

            Highcharts.setOptions({
                global: {
                    useUTC: false,
                }
            });
            Highcharts.chart('cluster',json)
        },
        error: function() {
            err_message_quietly('服务器内部错误');
        }
    });
}



function qury_service_top(range, topn){
    $.ajax({
        type: "POST",
        url: '/api/query_service_top',
        data: {'range': range, 'topn': topn},
        dataType: "json",
        success: function(data){
            var title = {
                 text: ''
            };
            var subtitle = {
                text: ''
            };
            var xAxis = {
                categories: data['data']['names'],
                crosshair: true
            };
            var yAxis = {
                min: 0,
                max: 100,
                title: {
                    text: '%'
                },

            };

            var tooltip = {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        '故障率：'+ this.y + '%<br/>'
                }
            }

            var legend = {
                enabled: false
            };

            var plotOptions =  {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0,
                    pointWidth: 30
                },
                series: {
                    minPointLength: 3
                }
            };
            var series = [{ 'data': data['data']['values'] }]

            var credits = {
                enabled:false // 禁用版权信息
            }

            var json = {};
            json.chart = {'type':'column'}
            json.title = title;
            json.subtitle = subtitle;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.tooltip = tooltip;
            json.legend = legend;
            json.series = series;
            json.credits = credits;
            json.plotOptions = plotOptions

            Highcharts.setOptions({
                global: {
                    useUTC: false,
                }
            });
            Highcharts.chart('service',json)
        },
        error: function() {
            err_message_quietly('服务器内部错误');
        }
    });
}

query_cluster_status($("#range1").val())
qury_service_top($("#range2").val(), $("#topn").val())

function change_top(topn){
    qury_service_top($("#range2").val(), topn)
}

function change_range2(range){
    qury_service_top(range, $("#topn").val())
}

</script>
{% endblock %}
